<div style="background: url(https://wallpapertag.com/wallpaper/full/1/a/1/350829-widescreen-website-background-1920x1080-windows-xp.jpg)" class="page-holder bg-cover">
<div class="container-expand">
  <br>

  <h2 style="text-align: center; font-size: 200%; font-family: fantasy;">{{title}}</h2>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-inverse navbar-fixed-top">
    <a class="navbar-brand " style="margin-left: 10px;" href="/home">Home</a>
  </nav>
  <div class="card-md ">
    <div class="card-body">
      <app-posts></app-posts>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="footer footer-expand-md footer-light bg-dark footer-fixed-bottom">
  <div class="container-expand text-white " style="margin-top: 320px;text-align:center">
    <span><b>All rights reserved 2022 @Experion</b></span>
  </div>
</footer>
</div>